.general {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    background-color: rgb(54, 54, 54);
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
    letter-spacing: 1px;
}

.each {
    background-color:white;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    padding: 0px 40px 20px 40px;
    
    h4 {
        margin-top: 0;
        margin-bottom: 0;
    }

    ul {
        padding-left: 0;
    }
    
    li {
        list-style: none;
        line-height: 1.6;
    }
    
    li:hover {
        cursor: pointer;
        color: grey;
    }

}

