.header-bottom {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    color: white;
    background-color: rgb(54, 54, 54);
    font-family: 'Cormorant Garamond', serif;
    font-weight: 100;  
    font-size: 18px;
} 

.main-menu {
    display: flex;
    list-style: none;
    li {
        margin-left: 15px;
        padding: 5px;
        text-align: center;
        letter-spacing: 1px;
    }
    :hover {
        cursor: context-menu;
        font-weight: 100;
        color: black;
    }

    a {
        color: white;
        text-decoration: none;
    }
}

.sort {
    margin-left: 50px;
    margin-top: 23px;
    letter-spacing: 1px;
    height: 23px;
}
.sort:hover {
    border-bottom: 1px solid white;
}

.down-arrow {
    margin-top: 26px;
    margin-left: 2px;
    height: 20px;
}    
.down-arrow:hover {
    width: 21px;
    border-bottom: 1px solid white;
}

