.header-bottom {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 100;  
    font-size: 18px;
    background-color: rgb(54, 54, 54);
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    color: white;
    list-style: none;
    padding: 20px;
   
} 

.main-menu {
    
}
li {
        margin-right: 50px;
    }