.header-bottom {
    font-family: 'Cormorant Garamond', serif;
    background-color: rgb(37, 37, 37);
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    color: white;
    list-style: none;
    padding: 20px;
    font-size: 18px;

   
}