.header-top {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  background-color:rgb(54, 54, 54);
  color: white;
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 1px;
}

.about-company {
  display: flex;

  li {
    margin-left: 20px;
    list-style: none;
  }
  
  li:hover {
    cursor: default;
    color: grey;
  }
}

.languages {
  display: flex;
  list-style: none;
  margin-top: 35px;

  li {
    margin-right: 10px;
  }

  li:hover {
    cursor: default;
    color: black;
  }
}

  
.wishes-signIn {
    display: flex;
    list-style: none;

    img {
      padding: 3px;
    }
}

.logo-heart {
  display: flex;
  margin-right: 30px;

  li {
    width: 70px;
  }
}

.logo-tent {
  display: flex;
  margin-right: 40px;

    li {
      width: 140px;
    }
}

.logo-heart:hover {

      li {
        cursor: default;
        color: antiquewhite;
      }

      img {
        background-color: antiquewhite;
        border-radius: 50%;
      }
}
  
.logo-tent:hover {

      li {
        cursor: default;
        color: antiquewhite;
      }

      img {
        background-color: antiquewhite;
        border-radius: 50%;
      }
}








 



