// @import '../variables';

.header-top {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 100;
  max-width: 1500px;
  margin: 0 auto;
  display: flex; 
  background-color: rgb(58, 58, 58);
  color:white;
  font-size: 18px;
}

.company {
  display: flex;
  list-style: none;
    li {
      margin-left: 10px;
      padding: 5px;
      text-align: center;
    }
    :hover {
      cursor: context-menu;
      font-weight: 400;
      border-bottom: 1px solid white;
    }
}

.social-media {
  display: flex;
  list-style: none;
  li {
    padding: 5px;
    margin-top: 10px;
  }
  :hover {
    cursor: default;
    width: 26px;
  }
}

.languages {
    display: flex;
    list-style: none;
    margin-right: 25px;

  li {
      padding: 5px;
      margin-top: 10px;
    }
    :hover {
      cursor: default;
      font-weight: 400;
      color: black;
    }
}
  
.wishes-login {
    display: flex;
    list-style: none;
    padding: 5px;
    text-align: center;

    :hover {
      cursor: context-menu;
      font-weight: 500;
    }

    .wishes {
      padding: 3px;
      img {
        padding-right: 5px;
      }
    }
    .login {
      padding: 3px;
      img {
        padding-right: 5px;
      }
    }
}



//   // border-bottom: 1px solid $gray-line;
//   padding: 40px 0;

//   .container {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//   }

//   &__logo {
//     display: flex;

//     img {
//       margin-right: 15px;
//     }

//     h1 {
//       color: #181818;
//       font-size: 24px;
//       letter-spacing: 1%;
//       text-transform: uppercase;
//       font-weight: 800;
//     }

//     p {
//       color: #7b7b7b;
//     }
//   }
// }
